@font-face {
  font-family: YourFont;
  src: url("../fonts/YourFont-Bold.woff") format("woff"), url("../fonts/YourFont-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: YourFont;
  src: url("../fonts/YourFont-SemiBold.woff") format("woff"), url("../fonts/YourFont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: bolder;
}

@font-face {
  font-family: YourFont;
  src: url("../fonts/YourFont-Medium.woff") format("woff"), url("../fonts/YourFont-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: YourFont;
  src: url("../fonts/YourFont-Regular.woff") format("woff"), url("../fonts/YourFont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: YourFont;
  src: url("../fonts/YourFont-Light.woff") format("woff"), url("../fonts/YourFont-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: lighter;
}

:root {
  /* Background Colors */
  --frame-background: #0e0e0e;
  --button-background: #191919;
  --input-bg: color-mix(in srgb, #fff 20%, transparent);
  --input-bg-hover: color-mix(in srgb, #fff 40%, transparent);
  /* Accent Colors */
  --accent: #4958e0;
  --accent-hover: #2d378d;
  --accent-secondary: #b7bfff;
  /* Text Colors */
  --white: #f0f0f0;
  --text-secondary: #929292;
  /* Additional Colors */
  --additionally-1: #0f2719;
  --additionally-2: #6f2a00;
  /* Border/Stroke Color */
  --stroke: #212121;
  --stroke-hover: #363636;
  --trans-02s: all 0.2s ease;
  --trans-03s: all 0.3s ease;
  --trans-05s: all 0.5s ease;
  --text-size-s: 14px;
  --text-size-m: 16px;
  --text-size-l: 18px;
  --text-size-xl: 20px;
  --text-size-xxl: 24px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  padding-top: 155px;
  color: #fff;
  background: #0e0e0e;
  font-family: "Onest", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  overflow: hidden;
}

.container {
  width: 1320px;
  max-width: 90%;
  margin: 0 auto;
}

.sec-padding-y {
  padding: 60px 0;
}

.sec-padding-y--top {
  padding-top: 60px;
}

.sec-padding-y--bottom {
  padding-bottom: 60px;
}

.sec-padding-x {
  padding: 0 60px;
}

.banner-text {
  font-size: 80px;
  font-weight: 700;
  font-family: "Unbounded", serif;
}

.h2 {
  font-size: 60px;
  font-weight: 400;
  font-family: "Unbounded", serif;
}

.h3 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Unbounded", serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.text-size__s {
  font-size: var(--text-size-s);
}

.text-size__m {
  font-size: var(--text-size-m);
}

.text-size__l {
  font-size: var(--text-size-l);
}

.text-size__xl {
  font-size: var(--text-size-xl);
}

.text-size__xxl {
  font-size: var(--text-size-xxl);
}

.text-c__white {
  color: var(--white);
}

.text-c__secondary {
  color: var(--text-secondary);
}

.text-c__accent {
  color: var(--accent);
}

.btn,
.btn--accent,
.btn--target,
.btn--img {
  background: none;
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  padding: 18px 20px;
  background: var(--button-background);
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
}

.btn--img {
  gap: 10px;
}

.btn--target {
  padding: 7px;
  padding-left: 20px;
  gap: 10px;
}

.btn--target::after {
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  background-image: url("../img/arrow-target.svg");
  background-size: cover;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
}

.btn--target:hover {
  background-color: var(--accent);
}

.btn--target:hover::after {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.btn--accent {
  background-color: var(--accent);
  color: var(--white);
  gap: 10px;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  font-size: 18px;
}

.btn--accent:hover {
  background-color: var(--accent-hover);
}

.x-btn {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url("../img/x-btn.svg") no-repeat center;
  background-size: cover;
}

.img-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.box-title {
  padding: 20px 28px;
  border-radius: 24px;
  backdrop-filter: blur(5px);
  border: 2px solid var(--stroke);
}

.box-title.--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.box-title.--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.box-title.--bg {
  overflow: hidden;
}

.box-title.--bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.box-desc {
  border-radius: 24px;
  backdrop-filter: blur(15px);
  border: 2px solid var(--stroke);
}

.clickable-scale:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

*[data-tabs] *[data-tabs-content] {
  display: none;
}

*[data-tabs] *[data-tabs-content].active {
  display: block;
}

.animate__animated {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.opacity-0 {
  opacity: 0;
}

.bc-form select,
.bc-form input {
  width: 100%;
  padding: 12px;
  border-radius: 28px;
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
  background: var(--input-bg);
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  -webkit-box-shadow: inset 0 0 0 1px transparent;
          box-shadow: inset 0 0 0 1px transparent;
  color: var(--white);
}

.bc-form select:focus,
.bc-form input:focus {
  -webkit-box-shadow: inset 0 0 0 2px var(--white);
          box-shadow: inset 0 0 0 2px var(--white);
}

.bc-form select::-webkit-input-placeholder, .bc-form input::-webkit-input-placeholder {
  color: var(--text-secondary);
}

.bc-form select::-moz-placeholder, .bc-form input::-moz-placeholder {
  color: var(--text-secondary);
}

.bc-form select:-ms-input-placeholder, .bc-form input:-ms-input-placeholder {
  color: var(--text-secondary);
}

.bc-form select::-ms-input-placeholder, .bc-form input::-ms-input-placeholder {
  color: var(--text-secondary);
}

.bc-form select::placeholder,
.bc-form input::placeholder {
  color: var(--text-secondary);
}

.bc-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rtl {
  direction: rtl;
}

.df-gap-col,
.df-gap-col-50,
.df-gap-col-40,
.df-gap-col-30,
.df-gap-col-20,
.df-gap-col-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.df-gap-col-10 {
  gap: 10px;
}

.df-gap-col-20 {
  gap: 20px;
}

.df-gap-col-30 {
  gap: 30px;
}

.df-gap-col-40 {
  gap: 40px;
}

.df-gap-col-50 {
  gap: 40px;
}

header {
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: var(--trans-03s);
  transition: var(--trans-03s);
}

header.scroll {
  backdrop-filter: blur(15px) brightness(0.8);
}

header.scroll .container {
  padding: 10px 0;
}

header .container {
  -webkit-transition: var(--trans-03s);
  transition: var(--trans-03s);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: var(--text-size-l);
  padding: 18px 40px;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
}

header .navbar__item:hover {
  text-shadow: 5px 5px 0px var(--accent);
  -webkit-transform: translate(-3px, -3px);
      -ms-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}

header .header-mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 150px;
  background-color: var(--frame-background) !important;
  padding: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 100;
}

header .header-mobile.active {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .header-mobile__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

header .header-mobile .navbar__item {
  padding: 12px;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  padding: 16px;
}

.burger__line {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
}

.burger__line::before,
.burger__line::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
}

.burger__line::before {
  top: -8px;
}

.burger__line::after {
  top: 8px;
  width: 50%;
}

footer {
  overflow: hidden;
  padding-top: 64px;
  background: center/cover no-repeat url("../img/footer-bg.svg") var(--accent);
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

footer .footer-logo {
  margin-right: 40px;
}

footer .footer-col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

footer .footer-col ul li a {
  padding: 20px 0;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  display: block;
  cursor: pointer;
  border-radius: 12px;
}

footer .footer-col ul li a:hover {
  opacity: 0.5;
}

footer .footer-bg {
  max-width: 100%;
}

.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out, top 0.8s ease;
  transition: all 0.5s ease-in-out, top 0.8s ease;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-wrapper.active {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  top: 0;
}

.modal-content {
  width: 700px;
  max-width: 90%;
  border-radius: 24px;
  backdrop-filter: blur(5px);
  padding: 50px;
  border: 2px solid var(--input-bg);
  -webkit-box-shadow: 0 0 20px 2px var(--input-bg), 0 0 50px 2px var(--input-bg);
          box-shadow: 0 0 20px 2px var(--input-bg), 0 0 50px 2px var(--input-bg);
  background-color: color-mix(in srgb, var(--frame-background) 70%, transparent);
}

.modal-title {
  text-align: center;
}

.msend-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.msend-request form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.msend-request__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.tabs-v__list {
  display: grid;
  grid-template-columns: 49% 1fr;
  gap: 20px;
  position: relative;
}

.tabs-v__list-left,
.tabs-v__list-right {
  position: relative;
}

.tabs-v__list-left {
  min-height: 600px;
}

.tabs-v__list-mob {
  display: none;
}

.tabs-v__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 12px;
  position: relative;
  z-index: 1;
  border-radius: 24px;
  overflow: hidden;
  min-height: 345px;
}

.tabs-v__item:hover .tabs-v__item-title {
  background-color: var(--accent);
}

.tabs-v__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.tabs-v__item-title {
  width: 100%;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--button-background);
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  padding: 16px 20px;
  text-align: center;
}

.tabs-v__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tabs-v__content-item {
  overflow: hidden;
  position: relative;
}

.tabs-v__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.tabs-v__tabs-item {
  font-size: 28px;
  padding: 28px;
  background-color: var(--button-background);
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  cursor: pointer;
  border-radius: 24px;
}

.tabs-v__tabs-item:hover {
  background-color: var(--accent-hover);
}

.tabs-v__tabs-item:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

.tabs-v__tabs-item.active {
  background-color: var(--accent);
}

.tabs-v *[data-tabs] *[data-tabs-content] {
  display: block;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: var(--trans-05s);
  transition: var(--trans-05s);
  height: 100%;
}

.tabs-v *[data-tabs] *[data-tabs-content].active {
  opacity: 1;
  max-height: 1000px;
  visibility: visible;
}

.sec-banner {
  overflow: visible;
}

.sec-banner__content {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 660px;
  border-radius: 24px;
  position: relative;
  padding: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 1;
}

.sec-banner__content-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: inherit;
}

.sec-banner__content-img img {
  border-radius: inherit;
  -webkit-animation: banner-bg 1s ease infinite;
          animation: banner-bg 1s ease infinite;
}

.sec-banner__content-img::before {
  content: "";
  display: block;
  width: 102%;
  height: 102%;
  background-image: inherit;
  -webkit-filter: blur(55px);
          filter: blur(55px);
  border-radius: inherit;
  z-index: -1;
  position: absolute;
  left: -1%;
  top: -1%;
}

@-webkit-keyframes banner-bg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes banner-bg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.sec-about-us__wrapper {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap: 20px;
}

.sec-about-us__desc {
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-size: var(--text-size-xxl);
}

.sec-team {
  position: relative;
}

.sec-team .gradient-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle at center, var(--additionally-1), transparent);
  -webkit-filter: blur(100px);
          filter: blur(100px);
  top: 50%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-animation: circle-pulse 6s infinite;
          animation: circle-pulse 6s infinite;
}

.sec-team__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  grid-template-areas: "ceo design team" "ceo projects team" "frontend backend team";
}

.sec-team__item {
  min-height: 200px;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  word-break: break-all;
}

.sec-team__item:hover {
  background-color: var(--accent);
}

@-webkit-keyframes circle-pulse {
  0% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }

  50% {
    -webkit-transform: scale(1.2) translate(-50%, -50%);
            transform: scale(1.2) translate(-50%, -50%);
  }

  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes circle-pulse {
  0% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }

  50% {
    -webkit-transform: scale(1.2) translate(-50%, -50%);
            transform: scale(1.2) translate(-50%, -50%);
  }

  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

.sec-services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.sec-services__list {
  display: grid;
  grid-template-columns: 48% 1fr;
  gap: 20px;
  position: relative;
}

.sec-services__list-left,
.sec-services__list-right {
  position: relative;
}

.sec-services__list-mob {
  display: none;
}

.sec-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 12px;
  position: relative;
  z-index: 1;
  border-radius: 24px;
  overflow: hidden;
  min-height: 345px;
}

.sec-services__item:hover .sec-services__item-title {
  background-color: var(--accent);
}

.sec-services__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.sec-services__item-title {
  width: 100%;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--button-background);
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  padding: 16px 20px;
  text-align: center;
}

.sec-services__content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.sec-services__content-item {
  border-radius: 24px;
  overflow: hidden;
}

.sec-services__img {
  border-radius: 24px;
  overflow: hidden;
}

.sec-services__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.sec-services__tabs-item {
  font-size: 28px;
  padding: 28px;
  border-radius: 24px;
  background-color: var(--button-background);
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  cursor: pointer;
}

.sec-services__tabs-item:hover {
  background-color: var(--accent);
}

.sec-services__tabs-item:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

.sec-services *[data-tabs] *[data-tabs-content] {
  display: block;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: var(--trans-05s);
  transition: var(--trans-05s);
  height: 100%;
}

.sec-services *[data-tabs] *[data-tabs-content].active {
  opacity: 1;
  max-height: 1000px;
  visibility: visible;
}

.sec-cases {
  scroll-padding-top: 100px;
}

.cases__item {
  position: relative;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-align: left;
}

.cases__item-title {
  text-decoration: underline;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
}

.cases__item-title:hover {
  color: var(--accent);
}

.cases__item-img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  overflow: hidden;
}

.cases__item-desc {
  direction: ltr;
  font-size: 16px;
  color: var(--text-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.cases__item-desc span {
  color: var(--white);
}

@media (min-width: 1024px) {
  body .d-none--desc {
    display: none;
  }
}

@media (max-width: 1024px) {
  .banner-text {
    font-size: 50px;
  }

  .h2 {
    font-size: 40px;
  }

  .h3 {
    font-size: 36px;
  }

  .tabs-v__list-left {
    min-height: 400px;
  }

  .sec-banner__content {
    height: 500px;
  }

  .sec-about-us__desc {
    font-size: var(--text-size-l);
  }

  .sec-team__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "team team" "ceo design " "ceo projects" "frontend backend";
  }

  .sec-cases .tabs-v__list {
    grid-template-columns: 1fr;
  }

  .sec-cases .tabs-v__list-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .sec-cases .tabs-v__tabs {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .h2 {
    font-size: 28px;
  }

  .h3 {
    font-size: 22px;
  }

  body .d-none--mob {
    display: none;
  }

  .box-title {
    padding: 20px;
  }

  footer {
    padding-top: 40px;
  }

  footer .footer-logo {
    width: 100%;
    margin-right: 0;
  }

  .modal-content {
    padding: 20px;
  }

  .tabs-v__list-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }

  .sec-banner__content {
    height: 348px;
    padding: 14px;
  }

  .sec-about-us__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sec-about-us__desc {
    font-size: var(--text-size-m);
    padding: 20px;
  }

  .sec-team__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sec-team__item {
    min-height: 50px;
  }

  .sec-services__list-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }

  .cases__item-img {
    height: 200px;
  }
}

@media (max-width: 500px) {
  .banner-text {
    font-size: 38px;
  }
}

@media (max-width: 360px) {
  .banner-text {
    font-size: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body .d-none--tablet {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
