footer
  .container
    .footer-wrapper
      .footer-logo
        img(src="./img/basalt-icon.svg", alt="Basalt Code")

      .footer-col
        ul
          li
            a(href="#") о нас
          li
            a(href="#") команда

      .footer-col
        ul
          li
            a(href="#") услуги
          li
            a(href="#") кейсы

  img(src="./img/footer-basalt.svg", alt="footer-bg", class="footer-bg").footer-bg.opacity-0.ani_jackInTheBox