:root {
  /* Background Colors */
  --frame-background: #0e0e0e;
  --button-background: #191919;

  /* Accent Colors */
  --accent: #081fe3;
  --accent-hover: #0719bc;
  --accent-secondary: #b7bfff;

  /* Text Colors */
  --white: #ffffff;
  --text-secondary: #929292;

  /* Additional Colors */
  --additionally-1: #0f2719;
  --additionally-2: #6f2a00;

  /* Border/Stroke Color */
  --stroke: #1b1b1b;

  --trans-02s: all 0.2s ease;
  --trans-03s: all 0.3s ease;
  --trans-05s: all 0.5s ease;
  --text-size-s: 14px;
  --text-size-m: 16px;
  --text-size-l: 18px;
  --text-size-xl: 20px;
  --text-size-xxl: 24px;
}
