:root {
  /* Background Colors */
  --frame-background: #0e0e0e;
  --button-background: #191919;
  --input-bg: color-mix(in srgb, #fff 20%, transparent);
  --input-bg-hover: color-mix(in srgb, #fff 40%, transparent);

  /* Accent Colors */
  --accent: #4958e0;
  --accent-hover: #2d378d;
  --accent-secondary: #b7bfff;

  /* Text Colors */
  --white: #f0f0f0;
  --text-secondary: #929292;

  /* Additional Colors */
  --additionally-1: #0f2719;
  --additionally-2: #6f2a00;

  /* Border/Stroke Color */
  --stroke: #212121;
  --stroke-hover: #363636;

  --trans-02s: all 0.2s ease;
  --trans-03s: all 0.3s ease;
  --trans-05s: all 0.5s ease;
  --text-size-s: 14px;
  --text-size-m: 16px;
  --text-size-l: 18px;
  --text-size-xl: 20px;
  --text-size-xxl: 24px;
}
