section#about.sec-about-us.sec-padding-y
  .container
    .sec-about-us__wrapper.ani_fadeIn.opacity-0

      .sec-about-us__title.box-title.--top
        h2.h2 О нас

      .sec-about-us__desc.box-desc.text-c__secondary
        p Мы — команда увлеченных людей, которые любят создавать крутые цифровые решения.
        p Делаем продукты, которые работают: #[span.text-c__white.ani_fadeIn.opacity-0.animate__delay-1s просто, удобно и красиво]. Для нас важно, чтобы всё было понятно и вам, и вашим клиентам. Мы за честность и прямоту — если что-то можно сделать лучше, мы об этом скажем.
        p Работая с нами, вы получите не просто исполнителей, а партнеров, которым можно доверять. Мы ценим простоту в общении и стремимся, чтобы #[span.text-c__white.ani_fadeIn.opacity-0.animate__delay-1s весь процесс был максимально комфортным и эффективным]. <br/> Будем рады создать для вас сайт, который понравится и вам, и вашим клиентам!