section.sec-banner

  .container
    .sec-banner__content.animate__animated.animate__fadeIn
      .sec-banner__content-img.img-cover(
        style=`background-image: url(img/banner.png)`
        )
        img(src="img/banner.png" alt="")

      .sec-banner__content-text.banner-text Мы создаем креативные <br class="d-none--tablet"> цифровые продукты
