section.sec-banner

  .container
    .sec-banner__content.animate__animated.animate__fadeIn
      .sec-banner__content-img.img-cover(
        style=`background-image: url(
          https://images.unsplash.com/photo-1552688419-9949ce9dd731?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          )`
        )
        img(src="https://images.unsplash.com/photo-1552688419-9949ce9dd731?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="")

      .sec-banner__content-text.banner-text Мы создаем креативные <br class="d-none--tablet"> цифровые продукты
