include ../parts/mixins/tabs-vertical.pug

mixin slmi(img, title)
  .sec-services__item.ani_fadeInUp.opacity-0
    img(src=img, alt="")
    .sec-services__item-title=title

-
  var titles = [
    'Разработка сайтов и сервисов',
    'Разработка мобильных приложений',
    'UX/UI дизайн',
    'Telegram-боты',
    'Веб-приложения',
    'CRM-системы',
    'Создание игр на Unreal Engine',
  ]

  var images = [
    'img/service-site.png',
    'img/service-mobile.png',
    'img/service-design.png',
    'img/service-bot.png',
    'img/service-web-app.png',
    'img/service-crm.png',
    'img/service-games.png'
  ]

section#services.sec-services.sec-padding-y
  .container
    h2.h2.ani_fadeInDown.opacity-0 Наши услуги

    .d-none--mob
      +tabs-v(titles)
        each img, index in images
          +tabs-v-content(index+1, index == 0)
            .sec-services__img.block-absolute.img-cover
              img(src=img, alt="")

    .sec-services__list-mob
      +slmi('img/service-site.png', 'Разработка сайтов и сервисов')
      +slmi('img/service-mobile.png', 'Разработка мобильных приложений')
      +slmi('img/service-design.png', 'UX/UI дизайн')
      +slmi('img/service-bot.png', 'Telegram-боты')
      +slmi('img/service-web-app.png', 'Веб-приложения')
      +slmi('img/service-crm.png', 'CRM-системы')
      +slmi('img/service-games.png', 'Создание игр на Unreal Engine')
